{% extends "base.html" %}

{% block title %} Music Bot Commands {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="col">
        <h1 class="mt-4">Commands help</h1>
        <hr>
        <p>
            Bienvenido a la documentación del Marbot!
            <br>
            Esta documentación esta hecha para chequear cuáles comandos permite el marbot y cómo usarlos.
            <br>
            Disfruten!
            <br>
        </p>
        <p>Atentamente,<br> Marmo</p>
        <img src="http://vignette2.wikia.nocookie.net/memes-pedia/images/7/73/Dramatic_Chipmunk.gif/revision/latest/scale-to-width-down/300?cb=20160228031751&path-prefix=es" alt="Marmo">
    </div>
</div>
{% endblock %}
