{% extends "base.html" %}

{% block title %} Music Bot Commands {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="col">
        <h1 class="mt-4">Commands help</h1>
        <hr>
        <p>
            Bienvenidos y bienvenidas a la documentación del Marbot!
            <br>
            Esta documentación esta hecha para chequear cuáles comandos permite el marbot y cómo usarlos.
            <br>
            Disfruten!
            <br>
        </p>
        <p>Atentamente,<br> Marmo</p>
        <img src="http://vignette2.wikia.nocookie.net/memes-pedia/images/7/73/Dramatic_Chipmunk.gif/revision/latest/scale-to-width-down/300?cb=20160228031751&path-prefix=es" alt="Marmo">
        <p>
            De paso, estos son las otras formas de usar el comando de ayuda, por si prefieren memorizar alguno de estos otros:
        </p>
        <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Comandos</th>
                <th scope="col">Ejemplos</th>
              </tr>
            </thead>
            <tbody>
                {% for command in command_aliases %}
                <tr>
                    <td>
                        <b>{{ command }}</b>
                    </td>
                    <td>
                        {{ command }}
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td>
                        <b>{{ base_command }}</b>
                    </td>
                    <td>
                        {{ base_command }}
                    </td>
                </tr>
            </tbody>
          </table>
    </div>
</div>
{% endblock %}
