{% extends "base.html" %}

{% block title %} Music Bot Commands {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="col">
        <h1 class="mt-4">Play</h1>
        <hr>
        <p>Busca por nombre o link de youtube un video y ponlo en la cola de reproducción.</p>

        <div class="alert alert-info">
            <h5><b>Notas:</b></h5>
            <p>
                Pese que el Marbot puede soportar listas de 30 a 40 canciones sin morirse,
                no es buena idea mandarle una canción de un playlist. Si solo quiere oir esa canción en particular,
                opte mejor por utilizar el nombre de la canción o ir a youtube para obtener el url de esa canción en
                específico.
            </p>
        </div>
        <p>
            Estos son los distintos comandos que pueden utilizar:
            <ul>
                {% for command in command_aliases %}
                    <li><b>{{ command }}</b></li>
                {% endfor %}
                <li><b>{{ base_command }}</b></li>
            </ul>
        </p>
        <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Comandos</th>
                <th scope="col">Ejemplos</th>
              </tr>
            </thead>
            <tbody>
                {% for command in command_aliases %}
                <tr>
                    <td>
                        <b>{{ command }}</b> nombre de la canción o url de la canción
                    </td>
                    <td>
                        {{ command }} macarena
                        <hr>
                        {{ command }} https://www.youtube.com/watch?v=zWaymcVmJ-A
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td>
                        <b>{{ base_command }}</b> nombre de la canción o url de la canción
                    </td>
                    <td>
                        {{ base_command }} macarena
                        <hr>
                        {{ base_command }} https://www.youtube.com/watch?v=zWaymcVmJ-A
                    </td>
                </tr>
            </tbody>
          </table>
    </div>
</div>
{% endblock %}
